{% extends "base/basePagina.html" %}
<!DOCTYPE html>
<html lang="pt-BR">
{% include "parciais/head.html" %}
{% include "parciais/cabecalho.html" %}

<body>
    {% include "parciais/buscador.html" %}
    <main class="principal-conteudo-container">
{% block conteudo %}
<main class="principal-conteudo-container">
    {% for receita in receitas %}
        {% include "parciais/card.html" %}
        {% include "parciais/card.html" %}
        {% include "parciais/card.html" %} 
    </main>
    {% include "parciais/rodape.html" %}
</body>

</html>
    {% endfor %}
</main>
{% endblock conteudo %}